
body { 
    font-family: Arial, sans-serif; 
    background-image: url("medicine\ bgp.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.patient-info { 
    background-color: #000; /* 改成黑色背景 */
    color: #fff; /* 改成白色文字 */
    padding: 20px;
    margin-top: 20px; /* 往下移一點，你可以根據需要調整這個值 */
    transform: skew(30deg); /* 讓元素變成平行四邊形，你可以根據需要調整這個值 */
}

.patient-info .content > * { 
    border-left: 1px dashed #fff; /* 在左邊添加白色虛線 */
    border-right: 1px dashed #fff; /* 在右邊添加白色虛線 */
    padding: 0 10px; /* 添加左右內距，讓虛線與內容有一些間距 */
    transform: skew(-30deg);
}

.patient-info .content > *:first-child { 
    border-left: none; /* 移除第一項的左邊虛線 */
}

.patient-info .content > *:last-child { 
    border-right: none; /* 移除最後一項的右邊虛線 */
}
.patient-info header { 
    display: flex;
    justify-content: space-between;
}
.patient-info header div {
    flex-basis: 20%;
}
.medicines {
    position: relative; /* 讓元素可以被定位 */
    margin-top: 10%; /* 將元素的頂部設定在父元素的 10% 處 */
    width: 80%; /* 將元素的寬度設定為父元素的 80% */
    margin-left: auto; /* 讓元素在水平方向上自動居中 */
    margin-right: auto; /* 讓元素在水平方向上自動居中 */
    overflow-y: auto; /* 只有當需要時才會出現滾動條 */
    background-color: #fff;
}
table {
    position: sticky; /* 讓元素在滾動時保持固定 */
    top: 0; /* 在滾動時，元素會停在距離視窗頂部 0px 的位置 */
    width: 100%;
    border-collapse: collapse;
}
th, td {
    text-align: left;
    padding: 24px 8px; /* 將上下內距拉長三倍 */
}
th {
    position: sticky; /* 讓元素在滾動時保持固定 */
    top: 0; /* 在滾動時，元素會停在距離視窗頂部 0px 的位置 */
    background-color: #86D0EF;
    color: white;
}
.medicine-item {
    cursor: pointer;
}
.medicine-details {
    display: none;
    position: absolute; /* 讓元素可以被定位 */
    width: 100%; /* 將元素的寬度設定為父元素的 100% */
    background-color: #fff; /* 為元素添加背景色，以避免內容重疊 */
}
.selected-row {
    background-color: #c8e6c9;
}
.button-group {
    display: flex; /* 讓按鈕並排顯示 */
    justify-content: center; /* 讓按鈕在水平方向上居中 */
    margin-top: 80vh; /* 在上方添加一點距離 */
}